{% load static %}
<div class="footer-agiletop">
		<div class="container">
			<div class="col-md-8 w3agile_hire_left">
				<h4>We are always ready to help you. There are many ways to contact us</h4>
				<p>Feel Free to contact anytime</p>
			</div>
			<div class="col-md-4 w3agile_hire_right">
				<a href="mail.html" class="wthree-more w3more1 nina" data-text="Contact Us">
					<span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span> <span>U</span><span>s</span>
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
