
{% load static %}
<div class="banner jarallax">
		<div class="banner-agileinfo">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<h1><a href={% url 'home' %}>Kubair</a></h1>
					</div>
					{% include 'snippts/menu.html' %}
					<div class="social-w3licon">
						<ul class="social_agileinfo">
							<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //header -->
			<!-- banner-text -->
{% include 'snippts/header_name.html'%}
			<!-- //banner-text -->
		</div>
	</div>
