{% load static %}
<div class="banner">
    <div class="banner-agileinfo">
        <!-- header -->
        <div class="header">
            <div class="container">
                <div class="logo">
                    <h1><a href="{% url 'home' %}">Kubair</a></h1>
                </div>

                {% include 'snippts/menu.html' %}
                <div class="social-w3licon">
                    <ul class="social_agileinfo">
                        <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    {% include 'snippts/menu_2.html' %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //header -->
        <!-- banner-text -->
        <div class="banner-w3lstext">
            <div class="items-group">
                <div class="item agileits-w3layouts">
                    <div class="block text main-agileits">
                        <span class="circleLight"></span>
                        <h3>Need a legal advice </h3>
                        <p><i>The best advice I ever got was that knowledge is power and to keep reading.</i></p>
                        <h6><span class="glyphicon glyphicon-earphone"></span> +1 555 222 1111 </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner-text -->
    </div>
</div>

