{% load static %}
<div class="menu">
						<a href="#" class="navicon"></a>
						<div class="toggle">
							<ul class="toggle-menu">
								<li><a href={% url 'home' %}> Home</a></li>

								<li><a href={% url 'Advises' %}> Advises</a></li>

								<li><a href={% url 'Gallery' %}>Gallery</a></li>

								<li><a href="codes.html">Our Products</a></li>

								<li><a href="icons.html">Top 100</a></li>

								<li><a href="mail.html">Mail Us</a></li>

                                {% if user.is_authenticated %}

                                    <li><a href={% url 'logout' %} >Logout Now</a></li>
                                {% else %}
                                    <li><a href={% url 'login' %} >Sign In</a></li>
                                    <li><a href={% url 'signup' %} >Register</a></li>
                                {% endif %}

							</ul>
						</div>
					</div>