{% load static %}
<div class="testimonials">
		<div class="container">
			<div class="w3ls-title">
				<h3 class="agileits-title">Testimonials</h3>
			</div>
			<div class="wthree_testimonial_grids">
				<div class="col-md-6 wthree_testimonial_grid_left">
					<div class="w3ls_testimonial_grid_left_grid">
						<div class="col-xs-4 agileinfo_testimonials_left">
							<img src="{% static 'images/t1.jpg'%}" alt=" " class="img-responsive" />
							<h4>John Crisp</h4>
							<p>Client</p>
						</div>
						<div class="col-xs-8 agileinfo_testimonials_right">
							<div class="agileits_testimonials_right_grid">
								<p>Donec euismod consequat mi, pretium volutpat nibh tempor nec.
									Quisque id justo sagittis iaculis.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3ls_testimonial_grid_left_grid w3l_testimonial_grid_left_grid">
						<div class="col-xs-8 agileinfo_testimonials_right agileits_w3layouts_farm_man">
							<div class="agileits_testimonials_right_grid w3_testimonials_right_grid">
								<p>Cras et sapien vitae leo egestas fermentum. Sed condimentum dolor a quam
									egestas commodo.</p>
							</div>
						</div>
						<div class="col-xs-4 agileinfo_testimonials_left">
							<img src="{% static 'images/t2.jpg'%}" alt=" " class="img-responsive" />
							<h4>Thomus Carl</h4>
							<p>Client</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 wthree_testimonial_grid_right">
					<h3><span>500+ </span>projects Completed <br>Successfully</h3>
					<p>Pellentesque magna quam, rutrum a luctus quis, ultrices eget metus.
						Curabitur ornare pulvinar erat, non commodo velit venenatis nec.
						Phasellus at malesuada sem, porta volutpat turpis.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
