{% load static %}
<div class="wthree-slid">
		<div class="col-sm-6 col-xs-4 wthree-slid-left">

		</div>
		<div class="col-sm-6 col-xs-8 wthree-slid-right">
			<h4>Working Hours:</h4>
			<h5><b>Mon–Sat:</b> 8:00 a.m – 11:00 p.m <br>
				<b>Sunday: </b> 10 a.m – 12 p.m
			</h5>
			<!-- Stats -->
			<div class="stats-info agileits-w3layouts">
				<h2>Just for fun Nothing Real...
                Checking does my Jquery Works or not</h2>
				<div class="col-sm-4 col-xs-4 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='57000' data-delay='.5' data-increment="5">57000</div>
					<h6>Happy Clients</h6>
				</div>
				<div class="col-sm-4 col-xs-4 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='8000' data-delay='.5' data-increment="5">8000</div>
					<h6>Projects</h6>
				</div>
				<div class="col-sm-4 col-xs-4 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='225' data-delay='8' data-increment="1">225</div>
					<h6>Awards</h6>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- //Stats -->
		</div>
		<div class="clearfix"> </div>
	</div>
