{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% include 'snippts/header.html' %}
    <div class="container well-lg">
        <div class="col-md 6 well m-t-3">
<center>
<div>
    <i class="fa fa-cog fa-5x fa-spin" aria-hidden="true"></i>
    </div>

<h1> <strong>      4<span>0</span>4 ERROR</strong></h1>
            <h2 class style="color:#ff5722">Oops Something Wrong</h2>
     <br>
            <h2>The page you have requested was not found on our website</h2>
    <br>
    <h3><strong>Click here to visit our</strong></h3>
    <br>
    <h3><a href={% url 'home' %}><i class="fa fa-home" style="color: #ff5722"></i>Home Page</a></h3>

</center>
        </div>
    </div>
    {% include 'snippts/contactus_footer.html' %}
    {% include 'snippts/footer.html' %}
{% endblock %}