{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'snippts/header.html' %}

    <div class="container well-lg">
        <div class="well m-t-3">
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Python' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>

  <strong class="fa-stack-1x" style="color:#FF5722">P</strong>
</span>
                    <h2 style="color: black">Python</h2>
                </a>
            </div>

            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Java' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">J</strong>
</span>
                    <h2 style="color: black">Java</h2>
                </a>
            </div>

            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'C' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">C</strong>
</span>
                    <h2 style="color: black">C</h2>
                </a>
            </div>

            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Selection' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">?</strong>
</span>
                    <h2 style="color: black">Comming Soon.</h2>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Selection' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">?</strong>
</span>
                    <h2 style="color: black">Comming Soon.</h2>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Selection' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">?</strong>
</span>
                    <h2 style="color: black">Comming Soon.</h2>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Selection' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">?</strong>
</span>
                    <h2 style="color: black">Comming Soon.</h2>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Selection' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">?</strong>
</span>
                    <h2 style="color: black">Comming Soon.</h2>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Selection' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">?</strong>
</span>
                    <h2 style="color: black">Comming Soon.</h2>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Selection' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">?</strong>
</span>
                    <h2 style="color: black">Comming Soon.</h2>
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <a href="{% url 'Selection' %}">
                 <span class="fa-stack fa-3x">
  <i class="fa fa-circle-o fa-stack-2x" style="color: black"></i>
  <strong class="fa-stack-1x" style="color:#FF5722">?</strong>
</span>
                    <h2 style="color: black">Comming Soon.</h2>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    {% include 'snippts/contactus_footer.html' %}
    {% include 'snippts/footer.html' %}
{% endblock %}